#btnagregarfila {
  background-color: azul; /* Color de fondo azul */
  color: blanco; /* Color del texto blanco */
  padding: 10px 20px; /* Relleno alrededor del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
#btnagregarfila:hover {
  background-color: verde; /* Cambia a verde al pasar el ratón */
}